In [1]:
import pandas as pd

data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [25]:
activity[['player_id', 'event_date']].groupby('player_id')['event_date'].min()

player_id
1   2016-03-01
2   2017-06-25
3   2016-03-02
Name: event_date, dtype: datetime64[ns]

In [27]:
df = activity[['player_id', 'event_date']].groupby('player_id')['event_date'].min().reset_index()
df

   player_id event_date
0          1 2016-03-01
1          2 2017-06-25
2          3 2016-03-02

In [28]:
df.rename(columns={'event_date': 'first_login'})

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02